.categories-container {
    width: 100s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 2vw 10px 2vw;
}

@media only screen and (max-width: 480px) {
    .categories-container {
        padding: 10px 0 10px 0;
    }
}