body {
  margin: 0;
  padding-left: 2vw;
  padding-right: 2vw;
  font-family: 'Rampart One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.classic-font {
  font-family: 'Oxygen', sans-serif;
}